$text-color: #21243D;
$year-color: #FFFFFF;
$date-text-color: #8695A4;

@mixin flexbox($flex, $jc, $ai, $gap, $fd) {
  display: $flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
  flex-direction: $fd;
}

.WorkPage {
  &-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: $text-color;

    margin: {
      top: 90px;
      bottom: 25px;
    }
  }
}

.section {
  &__featured {
    &-text {
      font-weight: 400;
      font-size: 22px;
      line-height: 60px;
      color: $text-color;

      margin: {
        top: 15px;
        bottom: 22px;
      }
    }

    &_container {
      &_box {
        @include flexbox(flex, flex-start, flex-start, 18px, row);

        &:nth-child(3) {
          margin: {
            top: 46px;
            bottom: 66px;
          }
        }

        &-img {
          height: 100%;
          width: 100%;
        }

        &_content {
          &-title {
            font-weight: 700;
            font-size: 30px;
            line-height: 44px;
            color: $text-color;
          }

          &_dates {
            @include flexbox(flex, flex-start, center, 25px, row);

            margin: {
              top: 15px;
              bottom: 15px;
            }

            &-year {
              font-weight: 900;
              font-size: 18px;
              color: $year-color;
              background: #142850;
              border-radius: 16px;
              -webkit-border-radius: 16px;
              -moz-border-radius: 16px;
              -ms-border-radius: 16px;
              -o-border-radius: 16px;

              padding: {
                top: 2.5px;
                bottom: 2.5px;
                right: 10px;
                left: 10px;
              }

            }

            &-text {
              font-weight: 400;
              font-size: 20px;
              line-height: 29px;
              color: $date-text-color;
            }
          }

          &-description {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $text-color;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 790px) {
  .WorkPage {
    &-title {
      font-size: 40px;
    }
  }

  .section {
    &__featured {
      &-text {
        text-align: center;
      }

      &_container {
        &_box {
          &-img {
            width: 600px;
          }

          @include flexbox(flex, flex-start, flex-start, 0, column);

          &_content {
            &-title {
              font-size: 50px;
              max-width: 100%;
              line-height: 30px;

              margin: {
                top: 35px;
                bottom: 35px;
              }
            }

            &_dates {
              margin: {
                top: 10px;
                bottom: 10px;
              }
            }

            &-description {
              max-width: 600px;
              font-size: 22px;
              line-height: 30px;

              margin: {
                top: 30px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .section {
    &__featured {
      &_container {
        &_box {
          &-img {
            width: 575px;
          }

          &_content {
            &-title {
              font-size: 35px;

              margin: {
                top: 25px;
                bottom: 25px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 590px) {
  .section {
    &__featured {
      &_container {
        &_box {
          &-img {
            width: 500px;
          }

          &_content {
            &-title {
              font-size: 30px;

              margin: {
                top: 25px;
                bottom: 25px;
              }
            }

            &-description {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  .WorkPage {
    &-title {
      font-size: 30px;

      margin: {
        bottom: 10px;
      }
    }
  }

  .section {
    &__featured {
      &_container {
        &_box {
          &-img {
            width: 450px;
          }

          &_content {
            &-title {
              font-size: 30px;

              margin: {
                top: 25px;
                bottom: 25px;
              }
            }

            &-description {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 470px) {
  .section {
    &__featured {
      &_container {

        &_box {
          &-img {
            width: 425px;
          }

          &_content {
            &-title {
              font-size: 30px;

              margin: {
                top: 25px;
                bottom: 25px;
              }
            }

            &-description {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .WorkPage{
    &-title {
      margin: {
        top: 25px;
      }
    }
  }
  .section {
    &__featured {
      &_container {

        &_box {
          &-img {
            width: 400px;
          }

          &_content {
            &-title {
              font-size: 30px;

              margin: {
                top: 25px;
                bottom: 25px;
              }
            }

            &-description {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .WorkPage{
    &-title {
      margin: {
        top: 25px;
      }
    }
  }
  .section {
    &__featured {
      &_container {

        &_box {
          &-img {
            width: 375px;
          }

          &_content {
            &-title {
              font-size: 30px;

              margin: {
                top: 25px;
                bottom: 25px;
              }
            }

            &-description {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 390px) {
  .section {
    &__featured {
      &_container {

        &_box {
          &-img {
            width: 340px;
          }

          &_content {
            &-title {
              font-size: 30px;

              margin: {
                top: 25px;
                bottom: 25px;
              }
            }

            &-description {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}