$title-color: #21243D;
$btn-color: #FFFFFF;
$btn-bg-color: #FF6464;

@mixin flexbox($flex, $jc, $ai, $gap, $fd) {
  display: $flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
  flex-direction: $fd;
}

.main {
  margin: {
    top: 160px;
  }

  &__container {
    @include flexbox(flex, space-between, flex-start, stretch, row);

    &_box {
      &-title {
        font-weight: 700;
        font-size: 44px;
        line-height: 60px;
        color: $title-color;
        max-width: 445px;
      }

      &-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $title-color;
        max-width: 500px;

        margin: {
          top: 40px;
          bottom: 40px;
        }
      }

      &-btn {
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        color: $btn-color;

        padding: {
          right: 20px;
          left: 20px;
          top: 10px;
          bottom: 10px;
        }

        color: $btn-color;
        background-color: $btn-bg-color;
        border-radius: 2px;
        border: 1px solid $btn-bg-color;
        cursor: pointer;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;

        &:hover {
          background-color: transparent;
          color: $btn-bg-color;
        }
      }

      &-img {
        height: 245px;
        width: 245px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .main {
    &__container {
      @include flexbox(flex, stretch, center, stretch, column-reverse);
      text-align: center;
    }
  }
}

@media only screen and (max-width: 555px) {
  .main {
    margin: {
      top: 100px;
    }

    &__container {
      &_box {
        &-title {
          font-size: 35px;
          line-height: 50px;
        }

        &-description {
          margin: {
            top: 10px;
            bottom: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 470px) {
  .main {
    margin: {
      top: 100px;
    }

    &__container {
      &_box {
        &-title {
          font-size: 30px;
          line-height: 45px;
        }

        &-description {
          margin: {
            top: 10px;
            bottom: 20px;
          }
        }
      }
    }
  }
}