*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Heebo";
}

body.active {
  overflow: hidden;
}

.container {
  padding: 0 60px;
  max-width: 975px;
  margin: 0 auto;
}

.container-x {
  padding: 0 60px;
  max-width: 1340px;
  margin: 0 auto;
}

.header.active{
  position: fixed;
}

@media only screen and (max-width: 500px) {
  .container-x {
    padding: 0 25px;
    max-width: 1340px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 670px) {
  .container {
    padding: 0 10px;
    max-width: 975px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 0 10px;
    max-width: 975px;
    margin: 0 auto;
  }
}